name: CI

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - run: npm ci

      - run: npx prettier --check .

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - run: npm ci

      - run: |
          npx vitest run
          npm run build
          cd e2e/issue-189/v4 && npm ci && npm run test && cd -
          cd examples/v4 && npm ci && npm run build && cd -

  build:
    runs-on: ubuntu-latest

    needs:
      - lint
      - test

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - run: npm ci

      - run: npm run build

      - uses: JS-DevTools/npm-publish@v4
        id: publish
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./package.json
          access: public
          dry-run: false
          strategy: upgrade
