name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - run: npm ci

      - run: npx prettier --check .

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - run: npm ci

      - run: |
          npx vitest run
          npm run build
          npm run pack
          cd e2e/issue-189/v3 && npm ci && npm i ../../../zod-schema-faker.tgz && npm run test && cd -
          cd e2e/issue-189/v4 && npm ci && npm i ../../../zod-schema-faker.tgz && npm run test && cd -
          cd examples/v3 && npm ci && npm i ../../zod-schema-faker.tgz && npm run build && cd -
          cd examples/v4 && npm ci && npm i ../../zod-schema-faker.tgz && npm run build && cd -

  build:
    runs-on: ubuntu-latest

    needs:
      - lint
      - test

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - run: npm ci

      - run: npm run build

      - uses: JS-DevTools/npm-publish@v4
        id: publish
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./package.json
          access: public
          dry-run: false
          strategy: upgrade
